<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>NIT SILCHAR</title>
    <link rel="stylesheet" href="stylesheets/about_campus/about.css">
    <link rel="stylesheet" href="css/icomoon.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/about_campus/css/plugin.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/about_campus/css/style.css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:400,300,500,600,700">
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">
   <link href="bootstrap-3.3.7-dist/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet" type="text/css">




</head>
<body>
    <nav class="navbar1">
        <ul class="nav1">
            <li id="brand"><a href="#">NIT SILCHAR</a></li>
            <li><a href="#">ADMISSION</a></li>
            <li><a href="#">RESULTS</a></li>
            <li><a href="#">CONTACT US</a></li>
        </ul>
    </nav>

    <nav class="navbar2">
        <ul class="nav2">
            <li><a href="#">ABOUT</a></li>
            <li><a href="#">DEPARTMENTS</a></li>
            <li><a href="#">ACADEMICS</a></li>
            <li><a href="#">RESEARCH</a></li>
            <li><a href="#">ACHIEVEMENTS</a></li>
            <li><a href="#">CAMPUS LIFE</a></li>
        </ul>
    </nav>

    <header id="home" class="home-section">
    <section id="page-1" >
        
            <div class="home-section-background" data-stellar-background-ratio="0.6" >
            <div class="display-table">
                <div class="display-table-cell">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <div class="header-text">
                                    <p></p>
                                    <h2><span class="typing"></span></h2>
                                    <h5><span class="typing2"></span></h5> 
                               </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            
    </section>
    </header>

    
     <!-- About Start -->
    <section id="about" class="about-section">
        <div class="container padding-bottom-60">
         <div class="row">
               
              <div class="col-md-4 col-sm-12 col-xs-12 imgg">
                <img class="img-responsive" src="stylesheets/about_campus/images/director.JPG" draggable="false" alt="">
              </div>
                
              <div class="col-md-8 col-sm-12 col-xs-12">
                <div class="about-me ">
                  
                  <h2>Message from The Director</h2>
                  
                  <p>Being an integral part of the dynamic research community, NIT Silchar focuses on designing engineering and management programs that instil leadership and teamwork, and carries a global appeal. The undergraduate, postgraduate and Ph.D. programs are regularly revised to comply with global technical developments and market demands. The Institute has bagged the 1st C-DAC Centre of Northeast India, established the first ever of its kind a High Performance Computing Centre in its sprawling campus and won the prestigious ASSHOCHSM awards for Best Engineering College in East India in February 2014.<br>


The research conducive green campus encourages the young minds to develop attributes and knowledge beyond the constraints of traditional classroom teaching and learning. The flexibility in the design of management and engineering education in the institute incubates global trends and helps to meet future demands, ensuring better Institute-Industry partnership both at local and global levels. NITS has been able to create a niche of its own and become the most preferred institute in the eastern region of the country. It stands as a humble spectacle where tradition meets vogue, aspiration meets inspiration and regional excellence defines global benchmarks.<br>
</p>
<p align="left">
<b>Regards,</b><br>
<b>Prof. Sivaji Bandyopadhyay</b><br>
<b>Director</b><br>
<b>National Institute of Technology, Silchar</b><br>


</p>
                 </div>
             
              </div>
            </div>   
          </div>
       </section>
      



    </section>
   

    <section id="page-3">
        <div class="hero-text">
            <div id="head-text">History</div>
            <div id="support-text" align="left" >
                <p>In the late fifties, the Government of India decided to establish Regional Engineering Colleges (RECs) under the Quality Technical Education Policy – one each in every major state – with the prime objective of imparting quality technical education throughout the country and to foster national integration. These Regional Engineering Colleges were established as joint ventures of the Government of India and the respective State Governments. Assam is considered as the flag bearer of the Northeast India and so in the year 1967 the 15th REC was officially established in Silchar. However it took almost a decade for REC Silchar to start its academic programmes due to various constraints.<br>

The first batch of students were admitted in 1977 in the BE program in 3 branches of engineering namely, Civil Engineering, Mechanical Engineering, and Electrical Engineering. The total intake in the first batch was 60 students. The inadequate infrastructure facilities consisted of only a part of a hostel, two Assam type buildings (for classes and administration), a workshop building, seven faculty quarters and a few staff quarters when the College started its academic programme in November 1977. Initially under the guidance of the then Principal Dr. H. R. Chablani, the classes started with only four full time Faculty members. The College started its academic programme with affiliation from Gauhati University. The first batch of BE students were awarded degrees in the year 1982-83. Subsequently, two more branches, namely, Electronics and Telecommunication Engineering, and Computer Science and Engineering started functioning from the year 1983 and 1987, respectively. The affiliation was later shifted to Assam University in 1994.<br>

On the basis of the report of the High Powered Joint Expert Committee of AICTE and UGC under the chairmanship of Prof. S. K. Joshi, Director General of Council for Scientific and Industrial Research (CSIR), Regional Engineering College Silchar has been transformed and upgraded to National Institute of Technology, Silchar with the status of Deemed University on 28th June 2002. The institute has been taken over by Government of India and subsequently made into a fully funded Central Government Autonomous Institution. This ensures a better financial status for NIT Silchar and will accelerate its growth ensuring that it becomes one of the premier technological institutes of not just the North- East but the entire nation. The institute has remodeled its curriculum and academic activities in line with that of the IITs. With its Deemed University status, the institute started awarding degrees from the year 2002 and the first convocation of the institute was held on 16 February 2004. The Government of India declared the Institute as an Institute of National Importance by enacting the National Institutes of Technology Act 2007.</p>
</div>
        </div>
    </section>

     <section id="page-4">
        <div class="hero-text">
            <div id="head-text">NIT SILCHAR</div>
            <div id="support-text">-A Institute Of National Importance</div>
        </div>
    </section>


     <a href="#" class="scroll-to-top"><i class="fa fa-angle-up"></i></a>
    <!-- Back to Top End -->
    
    
    <!-- All Javascript Plugins  -->
    <script type="text/javascript" src="stylesheets/about_campus/js/jquery.min.js"></script>
    <script type="text/javascript" src="stylesheets/about_campus/js/plugin.js"></script>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?key=AIzaSyC0HAKwKinpoFKNGUwRBgkrKhF-sIqFUNA"></script>
    
    <!-- Main Javascript File  -->
    <script type="text/javascript" src="stylesheets/about_campus/js/scripts.js"></script>
  
  
</body>

</html>