<!DOCTYPE html>
<html lang="en">

  <head>
    
    <!-- Meta Tag -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>campus</title>
    stylesheets/about_campus
    <link rel="stylesheet" href="stylesheets/about_campus/about.css">
    
    <!-- All CSS Plugins -->
    <link rel="stylesheet" type="text/css" href="stylesheets/about_campus/css/plugin.css">
    
    <!-- Main CSS Stylesheet -->
    <link rel="stylesheet" type="text/css" href="stylesheets/about_campus/css/style.css">
    <link rel="stylesheet" href="stylesheets/about_campus/css/icomoon.css">
    <!-- Google Web Fonts  -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:400,300,500,600,700">
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">
   <link href="bootstrap-3.3.7-dist/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet" type="text/css">

   <a href="#" class="scroll-to-top"><i class="fa fa-angle-up"></i></a>
    <!-- Back to Top End -->
    
    
    <!-- All Javascript Plugins  -->
    <script type="text/javascript" src="stylesheets/about_campus/js/jquery.min.js"></script>
    <script type="text/javascript" src="stylesheets/about_campus/js/plugin.js"></script>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?key=AIzaSyC0HAKwKinpoFKNGUwRBgkrKhF-sIqFUNA"></script>
    
    <!-- Main Javascript File  -->
    <script type="text/javascript" src="stylesheets/about_campus/js/scripts.js"></script>
  

 </head>

  <body>
    <nav class="navbar1">
        <ul class="nav1">
            <li id="brand"><a href="#">NIT SILCHAR</a></li>
            <li><a href="#">ADMISSION</a></li>
            <li><a href="#">RESULTS</a></li>
            <li><a href="#">CONTACT US</a></li>
        </ul>
    </nav>

    <nav class="navbar2">
        <ul class="nav2">
            <li><a href="#">ABOUT</a></li>
            <li><a href="#">DEPARTMENTS</a></li>
            <li><a href="#">ACADEMICS</a></li>
            <li><a href="#">RESEARCH</a></li>
            <li><a href="#">ACHIEVEMENTS</a></li>
            <li><a href="#">CAMPUS LIFE</a></li>
        </ul>
    </nav>

    <header id="home" class="home-section">
    <section id="page-1" >
        
            <div class="home-section-background" data-stellar-background-ratio="0.6" >
            <div class="display-table">
                <div class="display-table-cell">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <div class="header-text">
                                    <p></p>
                                    <h2><span class="typing"></span></h2>
                                    <h5><span class="typing2"></span></h5> 
                               </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            
    </section>
    </header>

<!--collegefests!-->
        <section id="services" class="services-section padding-top-30">
        <div id="fh5co-schedule-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="section-title">
                            <h2>College Fests</h2>
                            <p>MAJOR ANNUAL FESTS OF NIT SILCHAR</p>
                        </div>
                    </div>
                </div>
                <div class="row animate-box">
                    <div class="row text-center">

                        <div class="col-md-12 schedule-container">

        <!--INCAND!-->
                                <div class="col-md-6 col-sm-6">
                                    <div class="program program-schedule">
                                        <img src="stylesheets/about_campus/images/incand.jpg" alt="UNGA">
                                        <h3>INCANDESCENCE</h3><br>
                                        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">View Detail</button>

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">INCANDESCENCE</h4>
          
        </div>
        <div class="modal-body text-center">
                                        <img src="stylesheets/about_campus/images/incand1.png" alt="UNGA">
            <h3>INCANDESCENCE</h3><br>
            <p> <b>The annual cultural fest of NIT Silchar.</b></p>
                       
            <p>It is one of the most awaited events of the college. This falls in the month of February. Students from various college from all over the country participate in this festival.<br></p>
                   
                                        
                                </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
                                       
                   <span><a href="https://www.facebook.com/incandescencenit" class="btn btn-default">OFFICIAL PAGE</a></span>

                  

                                    </div>
                                </div>


        <!--TECNOESIS!-->
                                <div class="col-md-6 col-sm-6">
                                    <div class="program program-schedule">
                                        <img src="stylesheets/about_campus/images/tecnoesis.png" alt="UNODC">
                                        <h3>TECNOESIS</h3><br>
                                        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal2">View Detail</button>

  <!-- Modal -->
  <div class="modal fade" id="myModal2" role="dialog">
    <div class="modal-dialog modal-lg">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">TECNOESIS</h4>
          
        </div>
        <div class="modal-body text-center">
                                        <img src="stylesheets/about_campus/images/tecnoesis1.png" alt="UNODC">
            <h3>TECNOESIS</h3><br>
            <p><b>The Annual Technical Fest of NIT Silchar.</b></p>
                                        
            <p>This fest falls in the month of October. Here we see young and energetic minds showing their skills. Various events like Robotics, Paper Presentations, Quizzes & lots of exciting events take place for a span of three days.<br>
            </p>
            
                                       
                                        
                                </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
                                      
                    <span><a href="https://www.facebook.com/tecnoesis.nits" class="btn btn-default">OFFICIAL PAGE</a></span>



                                    </div>
                                </div>

        <!--thundermarch!-->

             <div class="col-md-6 col-sm-6">
                                    <div class="program program-schedule">
                                        <img src="stylesheets/about_campus/images/thunder.jpg" alt="UNODC">
                                        <h3>THUNDERMARCH</h3><br>
                                        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal2">View Detail</button>

  <!-- Modal -->
  <div class="modal fade" id="myModal2" role="dialog">
    <div class="modal-dialog modal-lg">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">THUNDERMARCH</h4>
          
        </div>
        <div class="modal-body text-center">
                                        <img src="stylesheets/about_campus/images/thunder1.jpg" alt="UNODC">
            <h3>THUNDERMARCH</h3><br>
            <p><b>The Annual Metal Fest of NIT Silchar.</b></p>
                                        
            <p>It falls in the month of February-March along with Incandescence and features enthralling and earth-shaking performances by various metal bands from India as well as famous international bands. Previously headlined by Nale (TM'13) and Deathember (TM'14).<br>
            </p>
            
                                        
                                </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
                                       
                    <span><a href="https://www.facebook.com/thundermarch.nitsilchar" class="btn btn-default">OFFICIAL PAGE</a></span>




                                    </div>
                                </div>


        <!--POSUA!-->
                                 <div class="col-md-6 col-sm-6">
                                    <div class="program program-schedule">
                                        <img src="stylesheets/about_campus/images/posua.jpg" alt="UNGA">
                                        <h3>POSUA</h3><br>
                                        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">View Detail</button>

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">POSUA</h4>
          
        </div>
        <div class="modal-body text-center">
                                        <img src="stylesheets/about_campus/images/posua1.jpg" alt="UNGA">
            <h3>>POSUA</h3><br>
            <p> <b>The Annual Celebration of RONGALI BIHU in NIT Silchar</b></p>
                       
            <p>POSUA is the annual celebration of RONGALI BIHU in NIT Silchar that marks the beginning of the Hindu Solar Calender Year. It is a showcase of Assamese culture and features performances such as the traditional Bihu and other cultural performances by famous Assamese personalities. It is generally held in the month of April.<br></p>
                   
                                        
                                </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
                                        
                   <span><a href="https://www.facebook.com/nitsposua" class="btn btn-default">OFFICIAL PAGE</a></span>
  </div>

                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
        
    </section>

    <!--physicalfacilities!-->
    <section id="testimonials" class="testimonial-section section-space-padding padding-top-30 padding-bottom-40">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="section-title">
                        <h2>Physical Facilities</h2>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="testimonial-carousel-list margin-top-20">

                    <div class="testimonial-word text-center">
                    <img src="stylesheets/about_campus/images/" class="img-responsive" alt="">
                        <h2>Administrative Area</h2>
                        <p>The Administrative Area comprises of Administrative Building, Dispensary, Old Administrative Building and Staff Canteen. It extends to an area of around 3400 sq.m.</p>
                    </div>
                
                    <div class="testimonial-word text-center">
                    <img src="stylesheets/about_campus/images/testimonial/5.jpg" class="img-responsive" alt="">
                        <h2>Bank</h2>
                        <p>A fully computerized full-fledged core-banking branch of State Bank of India operates in the campus. The students, staff and people of the villages surrounding the campus avail the facilities of the branch. </p>
                    </div>

                    <div class="testimonial-word text-center">
                    <img src="stylesheets/about_campus/images/testimonial/2.jpg" class="img-responsive" alt="">
                        <h2>Post Office</h2>
                        <p>The Institute has got a sub Post Office within the campus. The sub Post Office has facilities like registration, money order, and speed post. The post office functions from 9.30 am to 2.30 pm. Students and staff and people from the surrounding villages get the facilities and take advantage of the facilities of this Post Office.</p>
                    </div>
                    
                    <div class="testimonial-word text-center">
                    <img src="images/testimonial/3.jpg" class="img-responsive" alt="">
                        <h2>Shopping Centre</h2>
                        <p>A portion of the old LTD building houses general provision stores, PCOs, Fax Centres, DTP centers, bookshop, etc.</p>
                    </div>
                    
                    

                    <div class="testimonial-word text-center">
                    <img src="images/testimonial/6.jpg" class="img-responsive" alt="">
                        <h2>Workshops</h2>
                        <p>The workshop of the Mechanical Engineering Department acts as a Central Workshop of the Institute. It has Machine, Wielding, Fitting, Carpentry, Smithy, Pattern making and foundry shops. Common workshop classes are held in the workshop along with workshop classes for higher semester of Mechanical Engineering branch. Different project works for the undergraduate students are also held in the workshop. The workshop is well equipped for the project works of the PG students of the Department. However, continuous efforts are being made to augment the facilities of the workshop commensurate with the change in technology. </p>
                    </div>

                    <div class="testimonial-word text-center">
                    <img src="stylesheets/about_campus/images/testimonial/7.jpg" class="img-responsive" alt="">
                        <h2>Guest House Premises</h2>
                        <p>The Administrative Area comprises of Administrative Building, Dispensary, Old Administrative Building and Staff Canteen. It extends to an area of around 3400 sq.m.</p>
                    </div>

                     <div class="testimonial-word text-center">
                    <img src="stylesheets/about_campus/images/testimonial/7.jpg" class="img-responsive" alt="">
                        <h2>Staff Quarters</h2>
                        <p>The Administrative Area comprises of Administrative Building, Dispensary, Old Administrative Building and Staff Canteen. It extends to an area of around 3400 sq.m.</p>
                    </div>

                     <div class="testimonial-word text-center">
                    <img src="stylesheets/about_campus/images/testimonial/7.jpg" class="img-responsive" alt="">
                        <h2>Hostels</h2>
                        <p>The Administrative Area comprises of Administrative Building, Dispensary, Old Administrative Building and Staff Canteen. It extends to an area of around 3400 sq.m.</p>
                    </div>

                     <div class="testimonial-word text-center">
                    <img src="stylesheets/about_campus/images/testimonial/7.jpg" class="img-responsive" alt="">
                        <h2>Academic Buildings</h2>
                        <p>The Administrative Area comprises of Administrative Building, Dispensary, Old Administrative Building and Staff Canteen. It extends to an area of around 3400 sq.m.</p>
                    </div>




                </div>
            </div>
        </div>
    </section>
    
      




 









  </body>
  </html>